@import url("/home/techtino/.cache/wal/colors-waybar.css");
* {
    border: none;
    border-radius: 0;
    font-family: Noto Sans;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @color12;
}

#window {
    font-weight: bold;
    font-family: Noto Sans;
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: @background;
    color: grey;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: @color5;
    border-top: 2px solid #c9545d;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}


#battery.charging {
}

#cpu {
}

#memory {
}

#network {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

